.output__box {
     line-height: 1.5;
     text-align: left;
     padding-top: 15px;
     padding-left: 15px;
     font-size: 1.2rem;

}

.error__props {
     text-decoration: underline red dotted;
     text-underline-offset: 3px;
     color: red;
}