regex==2017.7.11
sklearn
nose==1.3.7
typing==3.7.4.1
future-fstrings
tqdm
underthesea
unidecode
pandas 
torch
dill
spacy
python-Levenshtein
tensorflow-cpu==1.15
gdown==4.4.0
transformers==4.18.0
nltk==3.6.3
numpy==1.21.6
fastapi==0.75.2
unicorn[standard]
uvicorn==0.17.6
gunicorn==20.1.0